.col-inner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 auto;
    margin-left: autos;
    margin-right: auto;
    position: relative;
    width: 100%;
    
   
}

.uppercase{
        margin-top: 20px;
        margin-left: 50px;
        letter-spacing: .05em;
        line-height: 1.05;
        text-transform: uppercase;
}
.container{
    margin-top: 20px;
    margin-left: 100%;
}
.up p{
    margin-left: 50px;
    margin-top: 0;
    display: grid;
    text-align: justify;

}
img{
    width: 100%;
}
.banner+.row:not(.row-collapse), .banner-grid-wrapper+.row:not(.row-collapse), .section+.row:not(.row-collapse), .slider-wrapper+.row:not(.row-collapse) {
    margin-top: 30px;
}
.container-width, .full-width .ubermenu-nav, .container, .row {
    max-width: 1320px;
}
.gallery, .row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.container, .container-width, .full-width .ubermenu-nav, .row, body.boxed, body.framed {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}